@mixin form-button($color: $green) {
  @include bezel();
  @include vt($color: $black, $size: 16pt);
  padding: 5px;
  background-color: $color;
  cursor: pointer;
  &:focus {
    @include bezel-reverse();
    outline: none;
  }
}
