.icon {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  &:focus {
    .icon-image {
      backdrop-filter: blur(8px);
      box-shadow: inset 0px 0px 5px rgba($black, 0.5);
    }
  }
  .name {
    box-sizing: border-box;
    color: $white;
    font-size: 24pt;
    text-shadow: 0px 0px 2px $black;
    padding: 2px 9px;
    backdrop-filter: blur(8px);
    box-shadow: inset 0px 0px 5px rgba($black, 0.5);
  }
  .icon-image {
    width: 80px;
    margin: 20px 0;
    box-sizing: border-box;
  }
}
